@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic.eot');
    src: url('../fonts/LeagueGothic.eot?') format('eot'),
      url('../fonts/LeagueGothic.ttf') format('truetype'),
      url('../fonts/LeagueGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Merriweather-R';
  src: url('../fonts/Merriweather-R.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-I';
  src: url('../fonts/Merriweather-I.ttf');
  font-weight: normal;
  font-style: italic;
}
